    <% layout('/layouts/boilerplate')%>  
    <div class="row">
        <h1 class="text-center">Edit venue</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/venues/<%=venue._id%>?_method=PUT" method="POST" novalidate class="validated-form" 
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
   <input class="form-control" type="text" id="title" name="venue[title]" value="<%=venue.title%>" required>
                    <div class="valid-feedback">Correct input</div>  
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="venue[location]" value="<%=venue.location%>" required>
                    <div class="valid-feedback">Correct input</div>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Select image(s).</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Concert rate</label>
                    <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" placeholder="0.00" id="price" aria-label="price" aria-describedby="price-label" name="venue[price]" value="<%= venue.price %>" required>
                    <div class="valid-feedback">Correct input</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="venue[description]" required> <%= venue.description %> </textarea>
                    <div class="valid-feedback">Correct input</div>
                </div>
                <div class="mb-3">
                    <% venue.images.forEach(function (img, i) { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                            </div>
                            <label for="image-<%= i %>">Delete</label>
                    <% }); %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update venue</button>
                </div>
            </form> 
            <div class="mb-5"> 
                <a href="/venues/<%= venue._id%>">Back to venues</a>
            </div>
        </div>
    </div>